<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.menu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:name=".app.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:uiOptions="splitActionBarWhenNarrow" android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">
        <activity
            android:name=".ui.activity.MenuClientActivity"
            android:configChanges="locale"
            android:label="@string/app_name" ><intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainMenuActivity"
            android:configChanges="locale"
            android:label="@string/main_menu_caption" >
        </activity>
        <activity
            android:name=".ui.activity.TableListActivity"
            android:configChanges="locale"
            android:label="@string/table_list_caption" >
        </activity>
        <activity
            android:name=".ui.activity.SplitTableActivity"
            android:configChanges="locale"
            android:label="@string/split_table_caption" >
        </activity>
        <activity android:name=".ui.activity.TestActivity"></activity>
        <activity android:name=".ui.activity.OrderActivity"></activity>
        <activity android:name=".ui.activity.BillActivity"></activity>
        <activity android:name=".ui.activity.CustomBillSplitActivity"></activity>
        <activity android:name=".ui.activity.WelcomeActivity"></activity>
    </application>

</manifest>