<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalServerDTO.Properties.Settings.ThucDonDienTuConnectionString"
            connectionString="Data Source=Wiki;Initial Catalog=ThucDonDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>