.imageButt {
	cursor:pointer;
}
.imgCheckError {
	background:url(../../Images/siteimages/error.gif) right top no-repeat;
	height:16px;
	width:16px;
}
.imgCheckOk {
	background:url(../../Images/siteimages/check.gif) right top no-repeat;
	height:16px;
	width:16px;
}
.bgColorMain{
	background-color:#00716B;
	color:#000;
}