div#food_gallery_item
{
    width:145px;
    height:145px;
    background-color:Lime;
}

div#food_gallery_item table
{
    margin: 0px auto;
}   

div#food_gallery_item img
{
    padding-left: 10px;  
}
